snippet stateful "Stateful Widget" b
class $1 extends StatefulWidget {
  $1({Key key}) : super(key: key);

  _$1State createState() => _$1State();
}

class _$1State extends State<$1> {

  @override
  Widget build(BuildContext context) {

  }
}
endsnippet
